################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/SOP/.vs/SOP/FileContentIndex/e70659f0-05d6-4e11-b5b2-798a206da835.vsidx
